---
name: CI

"on":
  # Manual trigger
  workflow_dispatch:

  # When a commit is pushed
  push:

jobs:
  detect_boxes:
    name: Detect boxes
    runs-on: ubuntu-latest
    timeout-minutes: 5

    outputs:
      boxes: ${{ steps.detect_boxes.outputs.boxes }}

    steps:
      - name: Checkout the project
        uses: actions/checkout@v6

      - name: Detect the boxes
        id: detect_boxes
        run: echo "boxes=$(ls -d ./boxes/* | awk -F '/' '{print $3}' | jq --raw-input --slurp --compact-output 'split("\n")[:-1]')" >> ${GITHUB_OUTPUT}

  lint:
    name: Lint
    needs: detect_boxes
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        box: ${{ fromJson(needs.detect_boxes.outputs.boxes) }}

    defaults:
      run:
        working-directory: ./boxes/${{ matrix.box }}

    steps:
      - name: Checkout the project
        uses: actions/checkout@v6

      - name: Setup Packer
        uses: hashicorp/setup-packer@v3
        with:
          version: 1.14.3

      - name: Initialize Packer
        run: packer init .

      - name: Format the code
        run: packer fmt -check .

      - name: Validate the code
        run: packer validate .
